<footer>

  <p>
  
    Powered by: <a href="http://www.rubyonrails.org" class="button">Ruby on Rails</a>
    Developed by: <a href="http://derekpauley.azurewebsites.net" class="button">Derek Pauley</a>


  </p>

  
 
</footer>